@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

.menu_link{
  font-size: 5.35vw;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

.menu_list{
  list-style-type: none;
}

#menu{
  transition:opacity 0.3s, visibility 0.3s;
  background-color: rgb(238, 236, 236);
  width: 100%; 
  height: 100vh;
  z-index: 3;
  position: absolute;
  position: fixed;
}

#btn{
  transition:opacity 0.3s, visibility 0.3s;
  background-color: transparent;  
  font-size: 17px; 
  color: black;
  right: 2%;
  top: 2%;
  position: absolute; 
  border: none; 
  z-index: 4; 
  position: fixed;
}

.invisible{
  visibility: hidden;
  opacity:0;
}

.back-black{
  color: white !important;
  background-color: transparent !important;
}
body{
  background-color: black;
}

















.main{
  height: 28vw;
  width: 100%;
  justify-content: center;
  display: flex;
  font-family: 'Roboto Mono', monospace;
}

.text{
  padding-top: 20%;
  font-weight: 400;
  font-size: 7.5vw;
  color: #FAFAFA;
}

.dud{
  color: grey;
}

#second span{
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}


.arrow{
  position: absolute;
  top: 50vw;
  left: 50%;
  transform: translate(-50%,-50%);
}
.arrow span{
  display: block;
  width:1.5vw;
  height: 1.5vw;
  border-bottom: 3px solid rgb(9, 70, 161);
  border-right: 3px solid rgb(9, 70, 161);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}

.photo{
  width: 100%;
  max-width: 100%;
}
 .info{
  margin-left: 10%; 
  width: 80%; 
  margin-top: 35%;
  color: rgb(238, 236, 236); 
  font-size: 4vw; 
  font-family: 'Courier New', Courier, monospace;
 }

.info_grid{
  margin-top: 15%; 
  width: 90%; 
  opacity: 0.9;
  margin-left: 5%;
  margin-bottom: 7%;
  font-family:'Courier New', Courier, monospace; 
}

#backgroundheading{
  font-size: 4.65vw; 
  color: rgb(238, 236, 236); 
  padding-left: 12.5%;
  border: 1px solid white;
  width: 92%;
}

#background{
  color: white; 
  font-size: 2.35vw;
}

#backgroundheading2{
  font-size: 4.65vw; 
  color: rgb(238, 236, 236); 
  padding-left: 12.5%;
  border: 1px solid white;
  width: 92%;
  margin-top: 12.5%;
}

@media screen and (max-width: 758px){
  .back_img{
    margin-top: 40px;
  }
  .info{
    margin-top: 50%;
  }

  .main{
    padding-top: 50px;
  }

  .arrow{
    padding-top: 80px;
  }

  #backgroundheading{
    font-size: 6vw;
  }
  #backgroundheading2{
    font-size: 6vw;
  }

  #background{
    font-size: 3.5vw;
  }

  #ready-txt{
    font-size: 5vw;
    margin-top: 15px;
  }

}



.access{
  background-color: black;
  width: 100%;
}



.bg_text {
  position: absolute;
  transform: translateY(-5%);
  font-family: 'Courier New', Courier, monospace; 
  color: white; 
  font-size: 10vw;
  margin: unset;
}

.back_img{
  background-image: url("main_ss.png");
  background-size: cover;
  height: 39vw;
}

.ready{
  background-color: rgb(238, 236, 236);
  width: 40%;
  height: 20vw;
  font-size: 4.65vw;
}

.access{
  background-color: black;
  width: 40%;
  color: white;
  height: 20vw;
  font-size: 2.5vw;
  padding: 5%;
}
