.menu_link{
  font-size: 5.35vw;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

#menu{
  transition:opacity 0.3s, visibility 0.3s;
}

#btn{
  transition:opacity 0.3s, visibility 0.3s;
}

.invisible{
  visibility: hidden;
  opacity:0;
}

.back-black{
  color: white !important;
  background-color: transparent !important;
}

#tutorial_photo{
 background-image: url("london.png");
 background-size: contain;
 background-repeat: no-repeat;
}